<section class="view viewReview" ng-controller="helpController as helpC">
	<div class="bg_wrap">
		Leidest du an Laktose-Intoleranz oder Unverträglichkeit?
		Mit Laktofri kannst du beim Einkaufen ganz einfach via Barcode Scanner erkennen ob es in einem Produkt Laktose hat. Wenn du ein Laktose-haltiges Produkt dennoch ausprobieren möchtest, bietet dir diese App die Möglichkeit das Produkt nach dem essen auf deine individuelle Verträglichkeit zu bewerten. Beim nächsten Einkauf, wird diese Bewertung beim scannen zusätzlich angezeigt. So kannst du dir deine eigene Laktose-Produkt-Ablage erstellen!
	</div>
</section>