<section class="view viewHelp" ng-controller="helpController as helpC">
	<header>
		LactoRate
	</header>
	<div class="bg_wrap">
		<div class="box">
			<div class="title">Was ist LactoRate?</div>
			<div class="content">
				<h1>Leidest du an Laktose-Unverträglichkeit?</h1>
				<p>Mit <i>LactoRate</i> kannst du beim Einkaufen ganz einfach mit dem Barcode-Scanner erkennen, ob ein Produkt Laktose enhält oder nicht. Wenn du ein laktosehaltiges Produkt trotz deiner generellen Laktose-Unverträglichkeit ausprobieren möchtest, kannst du es in deine Ablage verschieben.</p>
				<p>Später, nach dem Essen, bietet dir <i>LactoRate</i> die Möglichkeit, das Produkt auf deine individuelle Verträglichkeit zu bewerten. Beim nächsten Einkauf wird dir deine Bewertung beim Scannen zusätzlich angezeigt.</p>
				<p>So kannst du dir deine eigene, persönliche Laktoseprodukte-Ablage erstellen.</p>
			</div>
		</div>
		
		<div class="box">
			<div class="title">Weitere Informationen</div>
			<div class="content">
				
				<p>Konzept, Design und Umsetzung: Felix Stricker<p>
				<p>Mobile User Interface, VIAD, ZHdK, HS 2015</p>
				<p>Dozenten: Jürgen Späth, Stefano Vannotti, Joël Gähwiler</p>
				
				<h1>Technische Umsetzung</h1>
				<p>AngularJS und Phonegap</p>
				<p>Produkt-Daten von <a href="codecheck.info" target="_blank">codecheck.info</a> - Herzlichen Dank!</p>
				<p>Barcode-Scanner von <a href="scandit.com" target="_blank">scandit.com</a></p>
				
			</div>
		</div>
		
		<div class="box">
			<div class="title">Scanner Modus</div>
			<div class="content">
				<button ng-click="helpC.changeMode('demo')" ng-class="helpC.siteProperties.scanditEnable ? '' : 'active'">Demo</button>
				<button ng-click="helpC.changeMode('live')" ng-class="helpC.siteProperties.scanditEnable ? 'active' : ''">Scandit & Codecheck</button>
			</div>
		</div>
		
	</div>
</section>