<section class="view viewReview" ng-controller="reviewController as reviewC">
	<div class="bg_wrap">
		<div class="statusbar-back"></div>
		<a class="link_back" href="#/products">Zurück</a>
		
		<div ng-if="reviewC.countReview > 0">
		
			<div class="text">
				<h1>Bewerte diese Produkte nach deren Verträglichkeit für dich</h1>
				<h2><span class="count value-{{reviewC.countReview}}">{{reviewC.countReview}}</span><br />Unbewertete Produkte</h2>
			</div>
			
			<div class="stack">
				
				<div class="product review_{{item.review_state}} position_{{item.stack_position}}" ng-class="[reviewC.status]" ng-repeat="item in reviewC.product_list | filter:{reviewed:false}" ng-style="{'transform': 'scale('+(1-(item.stack_position*reviewC.stackProperties.scaleDiff))+') translateY('+(reviewC.stackProperties.firstY-(item.stack_position*reviewC.stackProperties.posDiff))+'px)', 'z-index': 10-item.stack_position, 'opacity': (item.stack_position >= reviewC.stackProperties.count ? '0' : '1')}" hm-panmove="reviewC.moveProduct($event, item)" hm-panend="reviewC.moveProduct($event, item)">
					<div class="title">{{item.name}}</div>
					<img class="picture" ng-src="{{item.image}}" />
					<div class="footer">Bewertet: {{item.review_date | date:'dd.MM.yyyy'}}</div>
				</div>
						
			</div>
			
			<img class="icon_smiley_good" ng-class="[reviewC.status]" src="images/icon_smiley_green.svg" ng-click="reviewC.rate(reviewC.firstItem, 'good')" />
			<img class="icon_smiley_ok" ng-class="[reviewC.status]" src="images/icon_smiley_orange.svg" ng-click="reviewC.rate(reviewC.firstItem, 'ok')" />
			<img class="icon_smiley_bad" ng-class="[reviewC.status]" src="images/icon_smiley_red.svg"  ng-click="reviewC.rate(reviewC.firstItem, 'bad')" />
		</div>
	</div>
</section>