<section class="view" ng-controller="scanController as scanC">
	<div class="box_scan animate1">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	
	<div class="product nok reviewed">
		<div class="title">Allos - Amaranth Wildbeeren-Müsli</div>
		<img class="picture" src="images/Allos-AmaranthWildbeeren-Muesli.png" />
		<div class="footer">
			Bewertet: 22.09.15
			<img src="images/icon_smiley_orange.svg" />
		</div>
	</div>
	
	<div class="dropZoneLibrary">
		<img src="images/icon_library_round.svg" />
	</div>
	
</section>