/* colors */
$color-header: #161527;
$color-scan: white;

$color-red: #D13636;
$color-green: #239F5C;
$color-orange: #F6A700;

$color-blue-darkest: #161527;
$color-blue-dark: #21213A;
$color-blue: #38384F;
$color-blue-light: #EBEDF2;

$color-grey-light: #F5F5F5;


/* sizes */
$header-height: 50px;
$footer-height: 50px;

$product_width: 265px;
$product_height: 175px;



/* reset */
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	font-family: roboto-Regular, arial;
}
ul {
	list-style: none;
}

/* header */
header {
	position: fixed;
	height: $header-height;
	background: $color-header;
	width: 100vw;
	z-index: 100;
	
	.title {
		color: white;
		width: 100%;
		position: absolute;
		bottom: 7px;
		text-align: center;
		font-family: Roboto-Regular;
		font-size: 14px;
	}
}

footer {
	position: fixed;
	z-index: 100;
	height: $footer-height;
	bottom: 0;
	width: 100vw;
	background: white;
	
	box-shadow: 0px -1px 2px 0px rgba(191,191,191,0.40);
	
	a {
		position: absolute;
		
		display: inline-block;
		line-height: $footer-height;
		width: 50%;
		text-align: center;
		
		font-family: Roboto-Regular;
		font-size: 13px;
		color: $color-blue-darkest;
		text-transform: uppercase;
		text-decoration: none;
		
		background-repeat: no-repeat;
		
		&:first-child {
			background-image: url(images/icon_scan.svg);
			background-size: 15px;
			background-position: 50px 16px;
			padding-left: 17px;
		}
		
		&:nth-child(2) {
			right: 0;
			background-image: url(images/icon_library.svg);
			background-size: 16px;
			background-position: 30px 17px;
			padding-left: 27px;
		}
		
		&.active {
			border-top: 2px solid $color-blue-darkest;
			background-color: $color-grey-light;
		}
		
	}
}


/* section main */
section.view {
	width: 100vw;
	background: red;
	min-height: 100vh;
	padding-top: $header-height + 15px;
	position: relative;
	float: left;
	padding-bottom: $header-height + 15px;
	background: $color-blue-light;
}


/**
* View Scan
*/
body.viewScan section.view {
	background: url(images/bg_scan.png);
	background-position: top center;
	background-size: cover;
	
	.box_scan {
		position: absolute;
// 		background: green;
		width: calc(100vw - 30px);
		height: 155px;
		margin-left: 15px;
		
		
		div {
			position: absolute;
			width: 25px;
			height: 25px;
			border: 2px solid $color-scan;
			
			&:nth-child(1) {
				border-right: none;
				border-bottom: none;
			}
			&:nth-child(2) {
				right: 0;
				border-left: none;
				border-bottom: none;
			}
			&:nth-child(3) {
				right: 0;
				bottom: 0;
				border-left: none;
				border-top: none;
			}
			&:nth-child(4) {
				bottom: 0;
				border-right: none;
				border-top: none;
			}
		}
		
		@keyframes scanAnimation {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(0.9);
			}
			100% {
				transform: scale(1);
			}
		}
		&.animate {
			animation: scanAnimation 1s 0s infinite reverse ease-in-out;
		}
	}
	
	.product {
		position: absolute;
		top: 300px;
		left: calc(100vw / 2 - (265px/2));
		
		opacity: 1;
		transform: scale(1);
		
		transition: 0.3s ease-in-out;
		
		.title {
			color: white;
		}
		
		&.ok {
			.title {
				background: $color-green;
			}
		}
		&.nok {
			.title {
				background: $color-red;
			}
		}
		
		&.ng-hide {
			opacity: 0;
			transform: scale(0.5);
			
			.title {
				opacity: 0;
			}
			.picture {
				opacity: 0;
			}
			.footer {
				opacity: 0;
			}
		}
		
		&.load {
			transform: scale(0.5);
			
			animation: sk-rotateplane 1.2s infinite ease-in-out;
			
			@keyframes sk-rotateplane {
				0% { transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(0.5); }
				50% { transform: perspective(600px) rotateX(-180.1deg) rotateY(0deg) scale(0.5); } 
				100% { transform: perspective(600px) rotateX(-180deg) rotateY(-179.9deg) scale(0.5); }
			}
			
			.title {
				opacity: 0;
			}
			.picture {
				opacity: 0;
			}
			.footer {
				opacity: 0;
			}
			
			
		}
		
		&.toLibrary {
			transition: 0.5s ease-in-out;
			transform: translateX(-40vw) scale(0.2);
			opacity: 0;
		}/*
		&.toLibrary-remove {
			transform: translateX(0) scale(1);
			
		}
		
		&.load-add {
			opacity: 0;
			transform: scale(0.5);
		}
		
		&.load-remove {
			opacity: 0;
			transform: scale(0.5);
		}
		*/
		
	}
	
	.dropZoneLibrary {
		position: absolute;
		top: 375px;
		left: 10px;
// 		transition: 0.2s 0.5s ease;
		opacity: 1;
		
		&.toLibrary {
			animation: pop 0.3s 0.4s forwards;
			
			@keyframes pop {
				0% { transform: scale(1); }
				40% { transform: scale(1.5); } 
				80% { transform: scale(1); }
				100% { transform: scale(1); opacity: 0; }
			}
			
		}
		&.toLibrary-remove {
			
			
		}
		/*
		&.ng-hide {
			transition-delay: 0;
			opacity: 0;
			transform: scale(1);
		}
		*/
	}
}

/**
* View Products
*/
body.viewProducts section.view {
	
	
	padding-top: $header-height + 50px + 15px;
	
	nav.filter {
		position: fixed;
		z-index: 100;
		top: $header-height;
		width: 100vw;
		height: 50px;
		background: $color-blue-dark;
		
		box-shadow: 0px 1px 2px 0px rgba(191,191,191,0.40);
		
		
		button {
			float:left;
			width: 25%;
			height: 50px;
			border: none;
			background: none;
			background-repeat: no-repeat;
			background-position: center 14px;
			background-size: auto 20px;
			
			&.active {
				border-bottom: 2px solid white;
				background-color: $color-blue;
			}
			
			&:first-child {
				background-image: url(images/icon_smiley_all.svg);
				
				&.active {
					background-image: url(images/icon_smiley_all_active.svg);
				}
			}
			&:nth-child(2) {
				background-image: url(images/icon_smiley_green.svg);
				
				&.active {
					background-image: url(images/icon_smiley_green_active.svg);
				}
			}
			&:nth-child(3) {
				background-image: url(images/icon_smiley_orange.svg);
				
				&.active {
					background-image: url(images/icon_smiley_orange_active.svg);
				}
			}
			&:nth-child(4) {
				background-image: url(images/icon_smiley_red.svg);
				
				&.active {
					background-image: url(images/icon_smiley_red_active.svg);
				}
			}
		}
	}
	
	a.link_review {
		background: green;
		width: 100%;
		float: left;
		line-height: 50px;
		background: white;
		border: 1px solid rgba(21,21,39,0.12);
		border-left: none;
		border-right: none;
		text-decoration: none;
		font-family: Roboto-Regular;
		font-size: 14px;
		color: $color-blue;
		padding-left: 10px;
		margin-bottom: 15px;
		
		background-image: url(images/icon_arrow_next.svg);
		background-repeat: no-repeat;
		background-position: right 10px center;

		span {
			background: $color-blue;
			line-height: 22px;
			min-width: 22px;
			height: 22px;
			display: inline-block;
			text-align: center;
			margin-right: 10px;	
			color: white;
			border-radius: 11px;
			padding: 0 7px;
		}
	}
	
	.product_list {
		float: left;
		
		.product_wrapper {
			position: relative;
			z-index: 10;
			height: $product_height;
			
			margin-bottom: 10px;
			margin-left: calc(100vw/2 - 265px/2);
				
			.product {
				position: absolute;
				z-index: 10;
				
				
				.title {
					border-top: 4px solid black;
					line-height: 31px;
				}
				
				&.review_good {
					.title {
						border-color: $color-green;
					}
				}
				&.review_ok {
					.title {
						border-color: $color-orange;
					}
				}
				&.review_bad {
					.title {
						border-color: $color-red;
					}
				}
	
				
				
			}
			
			.edit {
				position: absolute;
				top: 65px;
				left: 20px;
				z-index: 0;
				width: $product_width - 40;
				
				.review {
					float: left;
					width: 40px *3 +8;
					height: 50px;
					background: $color-blue-dark;
					box-shadow: 0px 1px 0px 0px #BEBEBE;
					border-radius: 2px;
					
					button {
						float: left;
						width: 32px;
						height: 32px;
						margin-top: 9px;
						margin-left: 8px;
						border: none;
						background: none;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: 20px;
						border: 0px solid $color-blue;
						border-radius: 50%;
						
						&:first-child {
							background-image: url(images/icon_smiley_green.svg);
							&.active {
								background-image: url(images/icon_smiley_green_active.svg);
							}
						}
						&:nth-child(2) {
							background-image: url(images/icon_smiley_orange.svg);
							&.active {
								background-image: url(images/icon_smiley_orange_active.svg);
							}
						}
						&:nth-child(3) {
							background-image: url(images/icon_smiley_red.svg);
							&.active {
								background-image: url(images/icon_smiley_red_active.svg);
							}
						}
						
						&.active {
							border-width: 2px;
							background-color: $color-blue;
						}
					}
				}
				
				.delete {
					float: right;
					height: 50px;
					width: 50px;
					background: $color-blue-dark;
					box-shadow: 0px 1px 0px 0px #BEBEBE;
					border-radius: 2px;
					
					button {
						background: none;
						border: none;
						background-repeat: no-repeat;
						background-size: 20px;
						background-image: url(images/icon_delete.svg);
						width: 32px;
						height: 32px;
						margin-top: 25px - 10px;
						margin-left: 25px - 10px;
						
					}
				}
			}
			
			img.icon_edit {
				position: absolute;
				left: -45px;
				width: 30px;
				top: $product_height/2 - 30/2;
				
			}
			
			&.open {
				.product {
					transform: translateX(-265px);
				}
			}
		}
	}
	
}

/**
* View Review
*/
body.viewReview section.view {
	padding-top: $header-height + 50px + 15px;
	
	a.link_back {
		position: fixed;
		z-index: 100;
		top: $header-height;
		width: 100vw;
		height: 50px;
		background: $color-blue-dark;
		color: white;
		font-family: Roboto-Regular;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 50px;
		padding-left: 24px;
		text-decoration: none;
		
		background-image: url(images/icon_arrow_back.svg);
		background-repeat: no-repeat;
		background-position: 10px center;
		
		
		box-shadow: 0px 1px 2px 0px rgba(191,191,191,0.40);
	}
	
	.text {
		width: $product_width;
		text-align: center;
		float: left;
		margin-left: calc(100vw/2 - 265px/2);
		text-transform: uppercase;
		font-family: Roboto-Regular;
		color: $color-blue-dark;	
		
		
		h1 {			
			font-size: 15px;
			line-height: 21px;
			font-weight: normal;
		}
		
		h2 {
			margin-top: 20px;
			font-size: 12px;
			line-height: 15px;
			font-weight: normal;
			
			
			span.count {
				display: inline-block;
				font-size: 34px;
				background: $color-blue;
				line-height: 50px;
				min-width: 50px;
				height: 50px;
				text-align: center;
				color: white;
				border-radius: 25px;
				padding: 0 15px;
				margin-bottom: 10px;
			}
		}
	}
	
	.stack {
		clear: left;
		float: left;
		margin-top: 20px;
		margin-left: calc(100vw/2 - 265px/2);
		position: relative;
		width: $product_width;
		height: 210px;
		
		$margin: 7px;
		$items: 5;
		.product {
			position: absolute;
			border: 1px solid #DFDFE0;
			
			&:first-child {
// 				top: 0px;
				z-index: 10;
				transform: translateY(28px);
			}
			&:nth-child(2) {
				z-index: 9;
				transform: scale(0.95) translateY(16px);
// 				top: $margin;
			}
			&:nth-child(3) {
				z-index: 8;
				transform: scale(0.9) translateY(4px);
// 				top: $margin*2;
			}
			&:nth-child(4) {
				z-index: 7;
				transform: scale(0.85) translateY(-8px);
// 				top: $margin*3;
			}
			&:nth-child(5) {
				z-index: 6;
				transform: scale(0.8) translateY(-20px);
// 				top: $margin*4;
				
			}
			
		}
		
	}
	
	.icon_smiley_good {
		position: absolute;
		left: 10px;
		top: 375px;
		width: 30px;
	}
	.icon_smiley_ok {
		position: absolute;
		right: 10px;
		top: 375px;
		width: 30px;
	}
	.icon_smiley_bad {
		position: absolute;
		left: calc(100vw/2 - 15px);
		bottom: $footer-height + 15;
		width: 30px;
	}
}


/* product card */
.product {
	position: relative;
	width: $product_width;
	height: $product_height;
	background: white;
	
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.13);
	border-radius: 2px;
	overflow: hidden;
	
	.title {
		width: 100%;
		height: 35px;
		font-family: Roboto-Regular;
		font-size: 15px;
		color: #FFFFFF;
		line-height: 35px;
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: $color-grey-light;
		color: $color-blue;
	}
	
	img.picture {
		margin-top: 5px;
		width: 100%;
		height: 130px;
		object-fit: contain;
	}
	
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: none;
		height: 35px;
		border-top: 1px solid #DADADA;
		line-height: 35px;
		padding-left: 10px;

		font-family: Roboto-Light;
		font-size: 12px;
		color: #343434;
		
		background-repeat: no-repeat;
		background-position: right 10px center;
		background-size: 15px;
		
		
		img {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 15px;
			height: 15px;
		}	
	}
	
	&.review_good .footer { background-image: url(images/icon_smiley_green.svg);	}
	&.review_ok .footer { background-image: url(images/icon_smiley_orange.svg);	}
	&.review_bad .footer { background-image: url(images/icon_smiley_red.svg);	}
	
	&.reviewed {
		.footer {
			display: block;
		}
		
		img.picture {
			height: 95px;
		}
		
				
	}

}


