/* colors */
$color-header: #161527;
$color-scan: white;

$color-red: #D13636;
$color-green: #239F5C;
$color-orange: #F6A700;

$color-blue-darkest: #161527;
$color-blue-dark: #21213A;
$color-blue: #38384F;
$color-blue-light: #EBEDF2;
$color-blue-shadow: #383950;
$color-blue-shadow-light: #BFC1C5;

$color-grey-light: #F5F5F5;


/* sizes */
$statusbar-height: 20px;
$header-height: 23px;
$footer-height: 50px;

$product_width: 265px;
$product_height: 175px;



/* reset */
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	font-family: roboto-Regular, arial;
	-webkit-font-smoothing: antialiased;
}
ul {
	list-style: none;
}
body {
	background: $color-blue-darkest;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);		
}


$button_width: 20%;
$button_height: 50px;
footer {
	position: fixed;
	z-index: 100;
	height: $button_height;
	bottom: 0;
	width: 100vw;
	background: white;
	box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.30);
	
	a {
		float: left;
		height: $button_height;
		width: $button_width;
		
		text-align: center;
		padding-top: 34px;
		
		/* Scanner: */
		font-family: Roboto-Medium;
		font-size: 11px;
		color: $color-blue-dark;
		text-decoration: none;
		
		background-repeat: no-repeat;
		background-position: center 9px;
		background-size: 20px;
		
		
		&.scan1,
		&.scan2 {
			background-image: url(images/icon_scan.svg);
			background-size: 19px;
			margin-left: 20%;
		}
		
		&.ablage {
			background-image: url(images/icon_library.svg);
			background-position: center 7px;
			background-size: 23px;
		}
		
		&.bewerten {
			position: relative;
			background-image: url(images/icon_rate.svg);
			background-position: center 6px;
			background-size: 25px;
			
			span.count {
				position: absolute;
				top: 2px;
				left: calc(50% + 5px);
				height: 18px;
				min-width: 18px;
				padding: 0 5px;
				line-height: 18px;
				background: $color-red;
				border-radius: 9px;
				color: white;
				font-size: 12px;
				
				
				&[class*="-add"] {
					animation: countPop 0.3s forwards;
					
					@keyframes countPop {
						0% { transform: scale3d(1, 1, 1); }
						60% { transform: scale3d(1.2, 1.2, 1.2); }
						80% { transform: scale3d(0.9, 0.9, 0.9); }
						100% { transform: scale3d(1, 1, 1); }
					}
					
				}
			}
		}
		
		&.help {
			float: right;
			position: relative;
			
			color: white;
			
			span {
				position: absolute;
				top: 6px;
				
				font-size: 16px;
				color: $color-blue-dark;
				font-family: roboto-Medium;
				left: calc(50% - 12px);
			
				display: inline-block;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 1.5px solid $color-blue-dark;
				
				color: white;
				border-color: white;
			}
		}
		
	}
	&.view_scan {
		a:first-child {
			background-color: $color-blue-light;
		}
	}
	&.view_products {
		a.ablage {
			background-color: $color-blue-light;
		}
	}
	&.view_review {
		a.bewerten {
			background-color: $color-blue-light;
		}
	}
	&.view_help {
		a.help {
			background-color: $color-blue-light;
		}
	}

}

/* ui-view (animation) */
main {

	&.animate.ng-enter, &.ng-leave {
		transition:all 0.3s ease;
		position: relative;
		
		section.view {
			min-height: calc(100vh - #{$header-height});
			height:  calc(100vh - #{$header-height});
		
			overflow: hidden;
		}
	}
	
	&.ng-leave {
		opacity: 1;
		transform: scale3d(1, 1, 1) translateY(0);
	}
	&.ng-leave-active {
		opacity: 0.3;
		transform: scale3d(0.85, 0.85, 0.85) translateY($header-height);
	}
	
	&.animate {
		&.ng-enter {
			z-index: 20;
		}
		
		&.products_scan, 
		&.products_scan2, 
		&.products_review, 
		&.review_scan,
		&.review_scan2,
		&.help_review,
		&.help_scan,
		&.help_scan2,
		&.help_products {
			&.ng-enter {
				transform: translateX(-100vw) scale3d(0.9, 0.9, 0.9)  translateY($header-height/2);
			}
			&.ng-enter-active {
								
				animation: view-in-left 0.5s 0.2s ease-in-out;
						
				@keyframes view-in-left {
					0% { transform: translateX(-100vw) scale3d(0.9, 0.9, 0.9)  translateY($header-height/2); }
					60% { transform: translateX(0vw) scale3d(0.9, 0.9, 0.9)  translateY($header-height/2); } 
					100% { transform: translateX(0vw) scale3d(1, 1, 1) translateY(0); }
				}
			}
		}
		&.scan_review, 
		&.scan2_review, 
		&.scan_products, 
		&.scan2_products, 
		&.review_products, 
		&.scan_help, 
		&.scan2_help, 
		&.products_help, 
		&.review_help {
			&.ng-enter {
				transform: translateX(100vw) scale3d(0.9, 0.9, 0.9)  translateY($header-height/2);
			}
			&.ng-enter-active {				
				animation: view-in 0.5s 0.2s ease-in-out;
						
				@keyframes view-in {
					0% { transform: translateX(100vw) scale3d(0.9, 0.9, 0.9)  translateY($header-height/2); }
					60% { transform: translateX(0vw) scale3d(0.9, 0.9, 0.9)  translateY($header-height/2); } 
					100% { transform: translateX(0vw) scale3d(1, 1, 1) translateY(0); }
				}
			}
		}
		
		
		
	}
	
	
}




/* section main */
section.view {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	top: 0;
	float: left;
	
	header {
		position: fixed;
		z-index: 100;
		top: 0;
		width: 100vw;
		height: $statusbar-height + $header-height;
		background: $color-blue-dark;
		
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
		
		color: white;
		text-align: center;
		font-size: 14px;
		font-family: Roboto-Regular;
		padding-top: 20px;
	}

	div.bg_wrap {
		position: fixed;
		float: left;
		width: 100%;
		padding-top: $statusbar-height + $header-height + 15px;
		padding-bottom: $footer-height + 15px;
		padding-bottom: 15px;
		background: $color-blue-light;
		height: calc(100vh - #{$footer-height});
		
		overflow: hidden;
		overflow-y: scroll !important;
		-webkit-overflow-scrolling: touch;
	}
}


/**
* View Scan
*/

section.view.viewScan {
	background: url(images/bg_scan.png);
	background-position: top center;
	background-size: cover;
	top: 0;
	min-height: calc(100vh - #{$footer-height});
	min-height: 100vh;
	padding-top: $statusbar-height+15px;
	
	.box_scan {
		position: absolute;
		width: calc(100vw - 30px);
		height: 155px;
		margin-left: 15px;
		
		
		div {
			position: absolute;
			width: 25px;
			height: 25px;
			border: 2px solid $color-scan;
			
			&:nth-child(1) {
				border-right: none;
				border-bottom: none;
			}
			&:nth-child(2) {
				right: 0;
				border-left: none;
				border-bottom: none;
			}
			&:nth-child(3) {
				right: 0;
				bottom: 0;
				border-left: none;
				border-top: none;
			}
			&:nth-child(4) {
				bottom: 0;
				border-right: none;
				border-top: none;
			}
		}
		
		@keyframes scanAnimation {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(0.9);
			}
			100% {
				transform: scale(1);
			}
		}
		&.animate {
			animation: scanAnimation 1s 0s infinite reverse ease-in-out;
		}
	}
	
	#product_wrap {
		position: absolute;
		top: 300px;
		left: calc(100vw / 2 - (265px/2));
		
		opacity: 1;
		transform: scale(1);
		z-index: 200;
		
		width: $product_width;
		
		.delete {
			position: absolute;
			z-index: 3;
			top: -10px;
			right: -10px;
			color: $color-blue-dark;
			background: white;
			width: 26px;
			height: 26px;
			font-size: 14px;
			line-height: 25px;
			border-radius: 50%;
			text-align: center;
			
			background-image: url(images/icon_close.svg);
			background-repeat: no-repeat;
			background-position: center center;
			
		}
		
		&.close {
			opacity: 0;
			transform: scale(0.5) !important;
			transition: all 0.3s ease;
		}
		
		&.ng-hide {
			opacity: 0;
			transform: scale(0.5);
		}
		
		
		&.load {
			transform: scale(0.5);
			
			animation: sk-rotateplane 1.2s infinite ease-in-out;
			
			@keyframes sk-rotateplane {
				0% { transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(0.5); }
				50% { transform: perspective(600px) rotateX(-180.1deg) rotateY(0deg) scale(0.5); } 
				100% { transform: perspective(600px) rotateX(-180deg) rotateY(-179.9deg) scale(0.5); }
			}
			
			.title,
			.picture,
			.footer,
			.delete,
			.laktose {
				opacity: 0;
			}
			
		}
		
		&.load-remove {
			animation: popup 0.3s ease-in-out;
			
			@keyframes popup {
				from, 60%, to {
					animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				}
				
				0% {
					transform: scale3d(.5, .5, .5);
				}
				
				60% {
					transform: scale3d(1.1, 1.1, 1.1);
				}
				
				to {
					transform: scale3d(1, 1, 1);
				}
			}
		}
		
		&.animate {
			transition: 0.4s ease-in-out;
		}
		&.toLibrary {
			transform: translateY(37vh) scale(0.1) !important;
			opacity: 0;
			
			.zusatz {
				opacity: 0;
			}
			.delete {
				opacity: 0;
			}
		}
		
		.product {
			z-index: 2;
			overflow: hidden;
			
			.laktose {
				position: absolute;
				color: white;
				top: 90px;
				padding: 5px 6px 5px 10px;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				text-transform: uppercase;
				font-family: Roboto-Medium;
				font-size: 13px;
				transform: rotate(-7deg) translateX(-3px);
			}

			.text {
				display: none;
			}
			
			.title {
				background: #e1e1e1;
			}
			
						
		}
		
		.zusatz {
			position: absolute;
			top: $product_height + 10px;
			width: $product_width - 20px;
			left: 10px;
			background: $color-grey-light;
			padding: 10px 5px;
			border-radius: 2px;
			z-index: 1;
			
			font-family: Roboto-Regular;
			font-size: 13px;
			color: #161527;
			text-align: center;
			
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.13);
			
			transition: all 0.2s ease;
			
			.button {
				position: absolute;
				bottom: 2px;
				left: 0;
				width: 100%;
				height: 26px;

				border-radius: 50%;
				
			
				background-image: url(images/icon_arrow_down.svg);
				background-repeat: no-repeat;
				background-position: center 9px;
				background-size: 16px;
			}
			
		}
		
		&.ok {
			.product {
				.laktose {
					background: $color-green;
				}
			}
		}
		
		&.nok {
			.product {
				.laktose {
					background: $color-red;
				}
			}
			.zusatz {
				padding-bottom: 30px;
			}
		}
		&.message {
			.product {
				.title {
					background: $color-orange;
				}
				.text {	
					display: block;
					padding: 15px;
					font-size: 15px;
					line-height: 130%;
					color: $color-blue-dark;
				}
				.laktose {
					display: none;
				}
				
			}
		}
		
		
	
		&.reviewed {
			.product {
				.footer {
					display: block;
				}
				
				img.picture {
					height: 95px;
				}
			}
					
		}
		
		&.drag {
			.zusatz {
				opacity: 0;
			}
			.delete {
				opacity: 0;
			}
		}
	
	}

	&.viewScan2 {
		background: $color-blue-light;
		
		.scandit_back {
			position: absolute;
			top: 0;
			height: 260px;
			width: 100vw;
			background: $color-blue-dark;
		}
		.product_back {
			position: absolute;
			top: 260px;
			height: calc(100vh - 260px);
			width: 100vw;
			
			background-image: linear-gradient(-180deg, #161527 0%, #303054 100%);
			
			#product_wrap {
				top: 40px;
			}
			
			.textBlock {
				width: 100%;
				text-align: center;
				color: white;
				margin-top: 40px;
				opacity: 1;
				
				transition: all 0.3s ease;
				
				
				h1 {
					font-family: Roboto-Regular;
					font-size: 30px;
					color: #FFFFFF;
					letter-spacing: 0.6px;
					font-weight: normal;
					margin-bottom: 5px;
				}
				h2 {
					font-family: Roboto-Light;
					font-size: 16px;
					color: #FFFFFF;
					font-weight: normal;
				}
				
				h3 {
					font-family: Roboto-Light;
					font-size: 23px;
					color: #FFFFFF;
					font-weight: normal;
					margin-top: 76px;
					
					span {
						background-image: url(images/icon_arrow_next.svg);
						background-repeat: no-repeat;
						background-position: center center;
						background-size: 10px;
						display: inline-block;
						width: 29px;
						height: 20px;
						position: relative;
						top: 3px;
						
					}
				}
				
				
				&.ng-hide {
					opacity: 0;
					
				}
			}

		}
	}
	
	
}

/**
* View Products
*/
section.view.viewProducts {
	
	header {
		box-shadow: none;
		z-index: 102;
		height: 38px;
	}
	
	nav.filter {
		position: fixed;
		z-index: 100;
		top: $header-height+$statusbar-height - 6px;
		width: 100vw;
		height: 50px;
		background: $color-blue-dark;
		
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
		
		
		button {
			float:left;
			width: 25%;
			height: 50px;
			border: none;
			background: none;
			position: relative;
			
			div {
				background: $color-blue-shadow;
				width: 34px;
				height: 34px;
				border-radius: 50%;
				position: absolute;
				top: 6px;
				left: calc(50% - 17px);
				transform: scale3d(0.1, 0.1, 0.1);
				
			}
			
			img {
				position: absolute;
				width: 20px;
				top: 13px;
				left: calc(50% - 10px);
			}
				
			&.active {
				div {
					animation: filterBg 0.3s forwards;
					
					@keyframes filterBg {
						0% { transform: scale3d(0, 0, 0); }
						60% { transform: scale3d(1.2, 1.2, 1.2); }
						80% { transform: scale3d(0.9, 0.9, 0.9); }
						100% { transform: scale3d(1, 1, 1); }
					}
				}
			}
			
			&:first-child {
				img {
					width: 62px;
					left: calc(50% - 31px);
				}
				div {
					&:first-child {
						width: 29px;
						height: 29px;
						top: 9px;
						left: calc(50% - 37px);
					}
					&:nth-child(3) {
						width: 29px;
						height: 29px;
						top: 9px;
						left: calc(50% + 8px);
					}
				}
			}
		}
		
		.border {
			height: 2px;
			width: 25%;
			background: white;
			position: absolute;
			bottom: 0;
			left: 0;
			
			transition: all 0.2s ease-in-out;
		}
		
		&.filter_good {
			.border {
				transform: translateX(25vw);
			}
		}
		&.filter_ok {
			.border {
				transform: translateX(50vw);
			}
		}
		&.filter_bad {
			.border {
				transform: translateX(75vw);
			}
		}
	}
	
	.bg_wrap {
		padding-top: 50px + $header-height + $statusbar-height + 15px;
	}
	
	.product_list {
		float: left;
		width: 100%;
		opacity: 1;
		transform: scale3d(1, 1, 1);
		
		transition: all 0.3s ease;
		
		.product_wrapper {
			position: relative;
			z-index: 10;
			height: $product_height;
			width: $product_width;
			
			margin-bottom: 10px;
			left: calc(100vw/2 - 265px/2);
				
			.product {
				position: absolute;
				z-index: 10;
				
				.title {
					border-top: 4px solid black;
					line-height: 31px;
				}
				
				&.review_good {
					.title {
						border-color: $color-green;
					}
				}
				&.review_ok {
					.title {
						border-color: $color-orange;
					}
				}
				&.review_bad {
					.title {
						border-color: $color-red;
					}
				}
	
				
				&.open {
					transform: translateX(-280px) !important;
					
					button {
						opacity: 0;
						transform: translateX(0);
					}
				}
				&.open-remove {
					
					animation: product-right 0.5s ease-out;
					
					@keyframes product-right {
						from, 60%, to {
							animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
						}
						0% { transform: translateX(-280px); }
						60% { transform: translateX(20px); }
						to { transform: translateX(0); }
					}

				}
				
				&.animate {
					transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
				}
			}
							
			button {
				position: absolute;
				top: $product_height/2 - 17px;
				width: 34px;
				height: 34px;
				opacity: 0;
				
				border: none;
				background: none;
				
				
				img {
					position: absolute;
					width: 20px;
					top: 7px;
					left: 7px;
					background: white;
					border-radius: 50%;
				}
				
				div {
					background: white;
					width: 34px;
					height: 34px;
					border-radius: 50%;
					position: absolute;
					top: 0px;
					left: 0;
					
					transform: scale3d(0.1, 0.1, 0.1);
				}
	
				
				&:first-of-type {
					left: 30px;
				}
				&:nth-of-type(2) {
					left: 70px;
				}
				&:nth-of-type(3) {
					left: 110px;
				}
				
				&:nth-of-type(4) {
					background: none;
					border: none;
					background-repeat: no-repeat;
					background-size: 34px;
					background-image: url(images/icon_delete.svg);
					width: 34px;
					height: 34px;
					
					left: 200px;
				}
				
			}
		
			&.open {
				button {
					opacity: 0;
					transform: translateX(0);
					
					$edit-in-duration: 0.8s;
		
					&:first-of-type{
						animation: edit-in $edit-in-duration 0.3s ease-out forwards;
					}
					&:nth-of-type(2) {
						animation: edit-in $edit-in-duration 0.2s ease-out forwards;
					}
					&:nth-of-type(3) {
						animation: edit-in $edit-in-duration 0.1s ease-out forwards;
					}
					&:nth-of-type(4) {
						animation: edit-in $edit-in-duration 0s ease-out forwards;
					}
					
					&.active {
						div {
							animation: shadow-in 0.5s $edit-in-duration+0.2s ease-out forwards;
						}
						
						&.new_active {
							div {
								animation: shadow-in 0.5s 0s ease-out forwards;
							}
						}
					}
					
					@keyframes shadow-in {
						0% { transform: scale3d(0, 0, 0); }
						60% { transform: scale3d(1.2, 1.2, 1.2); }
						80% { transform: scale3d(0.9, 0.9, 0.9); }
						100% { transform: scale3d(1, 1, 1); }
					}
				}
				
				
				@keyframes edit-in {
					0% { opacity: 0; transform: translateX(0); }
					29% { opacity: 0; transform: translateX(-280px); } 
					30% { opacity: 1; transform: translateX(-280px); } 
					80% { opacity: 1; transform: translateX(5px); } 
					100% { opacity: 1; transform: translateX(0px); }
				}
			}
			/*

			&.ng-leave {
				transition: 0.4s 0.2s all ease;
				
				&.ng-leave-active {
					opacity: 0;
					transform: scale(0.9);
				}
			}
*/

		}
		
		&.hide {
			opacity: 0;
			transform: scale3d(0.9, 0.9, 0.9);
		}
		
	}
	
}

/**
* View Review
*/
section.view.viewReview {
	.bg_wrap {
		padding-top: 55px;
	}
	
	.statusbar-back {
		position: fixed;
		top: 0;
		width: 100vw;
		height: $statusbar-height;
		background: $color-blue-dark;
	}
	
	a.link_back {
		position: fixed;
		z-index: 100;
		top: $statusbar-height;
		width: 100vw;
		height: $header-height;
		background: $color-blue-dark;
		color: white;
		font-family: Roboto-Regular;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 50px;
		padding-left: 24px;
		text-decoration: none;
		
		background-image: url(images/icon_arrow_back.svg);
		background-repeat: no-repeat;
		background-position: 10px center;
		
		
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
	}
	
	.text {
		margin-top: 15px;
		width: 300px;
		text-align: center;
		float: left;
		margin-left: calc(100vw/2 - 300px/2);
		text-transform: uppercase;
		font-family: Roboto-Regular;
		color: $color-blue-dark;	
		
		
		h1 {			
			font-size: 17px;
			line-height: 25px;
			font-weight: normal;
		}
		
		h2 {
			margin-top: 25px;
			font-size: 15px;
			line-height: 15px;
			font-weight: normal;
			
			
			span.count {
				display: inline-block;
				font-size: 28px;
				background: $color-blue;
				line-height: 50px;
				min-width: 50px;
				height: 50px;
				text-align: center;
				color: white;
				border-radius: 25px;
				padding: 0 15px;
				margin-bottom: 10px;
				font-family: Roboto-Medium;
				
				&[class*="-add"] {
					animation: countPop 0.3s forwards;
					
					@keyframes countPop {
						0% { transform: scale3d(1, 1, 1); }
						60% { transform: scale3d(1.2, 1.2, 1.2); }
						80% { transform: scale3d(0.9, 0.9, 0.9); }
						100% { transform: scale3d(1, 1, 1); }
					}
					
				}
			}
		}
	}
	
	.stack {
		clear: left;
		float: left;
		margin-top: 20px;
		margin-left: calc(100vw/2 - 265px/2);
		position: relative;
		width: $product_width;
		height: 210px;
		
		.product {
			position: absolute;
			border: 1px solid #DFDFE0;

			
			&.move_good {
				
				&.position_0 {
					
					transform: translateY(28px) translateX(-150px) scale(0.2) !important;
					opacity: 0 !important;
					

				}
				
			}
			
			&.move_bad {
				
				
				&.position_0 {
					transform: translateY(28px) translateX(150px) scale(0.2) !important;
					opacity: 0 !important;
				}
				
			}
			
			&.move_ok {
				
				
				&.position_0 {
					transform: translateY(128px) scale(0.2) !important;
					opacity: 0 !important;
				}
				
			}
			
			&.move_back {
				
				
				&.position_0 {
					transform: scale(0.75) translateY(-20px) !important;
					z-index: 1 !important;
				}
				
			}

		}
		
		&.animate {
			.product {
				transition: all 0.5s ease-in-out;
				transition-property: opacity transform;
				
			}
		}
		
	}
	
	.icon_smiley_good {
		position: absolute;
		left: calc(50vw - #{$product_width/2} - 30px - 15px);
		top: 373px;
		width: 30px;
		
		&.move_good {
			animation: pop-smiley 0.3s 0.4s forwards;
		}
	}
	.icon_smiley_ok {
		position: absolute;
		left: calc(50vw - 15px);
		top: 488px;
		width: 30px;
		
		&.move_ok {
			animation: pop-smiley 0.3s 0.4s forwards;
		}
	}
	.icon_smiley_bad {
		position: absolute;
		left: calc(50vw + #{$product_width/2} + 15px);
		top: 373px;
		width: 30px;
		
		&.move_bad {
			animation: pop-smiley 0.3s 0.4s forwards;
		}
	}
	
	@keyframes pop-smiley {
		0% { transform: scale(1); }
		40% { transform: scale(1.5); } 
		80% { transform: scale(1); }
		100% { transform: scale(1); }
	}
}

/**
* View Help
*/
section.view.viewHelp {
	
	
	.box {
		background: white;
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.13);
		border-radius: 2px;
		width: calc(100vw - 30px);
		margin-left: 15px;
		margin-bottom: 15px;
		float: left;
		
		.title {
			width: 100%;
			height: 35px;
			font-family: Roboto-Regular;
			font-size: 15px;
			color: #FFFFFF;
			line-height: 35px;
			padding-left: 10px;
			padding-right: 10px;
			background: $color-grey-light;
			color: $color-blue;
		}
		
		.content {
			padding: 10px;
			
			h1 {
				font-family: Roboto-Medium;
				font-weight: normal;
				font-size: 14px;
				margin-bottom: 5px;
				margin-top: 20px;
				
				&:first-child {
					margin-top: 0;
				}
			}
			p {
				font-family: Roboto-Regular;
				font-size: 14px;
				line-height: 135%;
				margin-top: 5px;
				color: $color-blue;
			}
			
			button {
				width: 50%;
				height: 36px;
				float: left;
				border: 2px solid $color-blue-shadow;
				background: #525475;
				color: white;
				border-top-left-radius: 18px;
				border-bottom-left-radius: 18px;
				font-size: 14px;
				margin-bottom: 10px;
				
				&:first-child {
					border-right: 0;
				}
				&:nth-child(2) {
					border-radius: 0;
					border-top-right-radius: 18px;
					border-bottom-right-radius: 18px;
					border-left: 0;
				}
				
				&.active {
					background: $color-blue-shadow;
					color: white;
				}
			}
		}
	}
}


/* product card */
.product {
	position: relative;
	width: $product_width;
	height: $product_height;
	background: white;
	
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.13);
	border-radius: 2px;
	
	.title {
		width: 100%;
		height: 35px;
		font-family: Roboto-Regular;
		font-size: 15px;
		color: #FFFFFF;
		line-height: 35px;
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: $color-grey-light;
		color: $color-blue;
		
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
	
	img.picture {
		margin-top: 5px;
		width: 100%;
		height: 130px;
		object-fit: contain;
	}
	
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: none;
		height: 35px;
		border-top: 1px solid #DADADA;
		line-height: 35px;
		padding-left: 30px;

		font-family: Roboto-Light;
		font-size: 12px;
		color: #343434;
		
		background-repeat: no-repeat;
		background-position: left 10px center;
		background-size: 15px;
		
		
	}
	
	&.review_good .footer { background-image: url(images/icon_smiley_green.svg);	}
	&.review_ok .footer { background-image: url(images/icon_smiley_orange.svg);	}
	&.review_bad .footer { background-image: url(images/icon_smiley_red.svg);	}
	
	&.reviewed {
		.footer {
			display: block;
		}
		
		img.picture {
			height: 95px;
		}
	}

}


